---
//import MobileNav from "./MobileNav.astro";
//import Navigation from "./Navigation.astro";
//changes icons for mobile menu
---

<div class="menu-icon" id="menu-toggle">
    <a href="#0" class="nav-icon">&#9776; </a>

    <a href="#0" class="nav-icon hidden"> &#9932;</a>
 </div>
        

